* {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#BarraDeNav {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color:black;
}

.Encaminhadores {
  color: white;
  text-decoration: none;
}