* {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#BarraDeNav {
  width: 100vh;
  color: blue;
  height: 10px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lol {
    height: auto;
}