* {
    margin: 0;
    padding: 0;
}

html {
  background: #475c67;
}

.Menu_Lateral li a {
  display: inline-block;
  color: black;
  --backColor:grey;
  background-color: white;
  text-decoration: none;
  border-radius: 12.5px;
  /*Margens*/
  margin: 0 50px;
  padding: 5px;
}

.Menu_Lateral {
  list-style-type: none;
}

#BarraDeNav {
  display: flex;
  width: 100%;
  height: 45px;
  background:black;
  align-items: center;
  justify-content: end;
}

a:hover {
  animation-duration: 1.35s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-name: timingLink;
}

@keyframes timingLink {
  from {
    background-color: white;
  }
  50% {
    background-color: var(--backColor);
  }
  to {
    background-color: white;
  }
}